<div class="card">
  <h3 class="card-header">Variable de referencia de plantilla</h3>
  <div class="card-body">
    <input type="file" style="display: none;" #uploader>
    <button (click)="uploader.click()" class="btn btn-success">Cargar archivo</button>
  </div>
</div>
