<h4>ViewChild con una variable de referencia de plantilla</h4>
Escribe algo:
<input type="text" [(ngModel)]="texto">
<span style="color: red;">{{mensajeDeError}}</span>
<br>
<button (click)="enviarMensaje()">Enviar</button>
<app-hijo-view-child #hijo></app-hijo-view-child>
