<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="margin-top: 10px;">
  <a class="btn btn-outline-primary col-lg-4" routerLink="var-ref-plantilla">Variable de referencia de plantilla</a>
  <a class="btn btn-outline-primary col-lg-4" routerLink="padre-view-child">Referenciar un componente desde una clase</a>
  <a class="btn btn-outline-primary col-lg-4" routerLink="padre-view-children">Referenciar varios componentes desde una clase</a>
  <router-outlet></router-outlet>
</div>
