<button (click)="agregar()">Agregar</button>
<button (click)="remover()">Remover</button>
<button (click)="voltearColores()">Voltear colores</button>
<br><br>
<select #selectComponentes>
  <option *ngFor="let option of arr; let index = index" [value]="index">componente {{index + 1}}</option>
</select>
<button (click)="voltearColor(selectComponentes.value)">Voltear color</button>
<app-hijo-view-children *ngFor="let i of arr"></app-hijo-view-children>
